@model IEnumerable<SistemaIntercambioFinal.Models.AgendamentoProfissional>

@{
    ViewData["Title"] = "Index";
}

<h1>Agendamento Profissional </h1>

<p>
    <a asp-action="Create">Novo Ageendamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataAgendamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAgendamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataAgendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAgendamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
