@model SistemaIntercambioFinal.Models.CadastroIntercambio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CadastroIntercambio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinoIntercambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinoIntercambio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIntercambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIntercambio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoIntercambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracaoIntercambio.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
