@model IEnumerable<SistemaIntercambioFinal.Models.CadastroIntercambio>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Intercâmbio</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DestinoIntercambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIntercambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoIntercambio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.DestinoIntercambio.DestinoIntercambioDescricao)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TipoIntercambio.TipoIntercambioDescricao)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DuracaoIntercambio.DuracaoIntercambioDescricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
